<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>enter details</h1>
    <form action="/submit" method="post">
        <input type="text" name="fname" placeholder="firstname"><br><br>
        <input type="text" name="lname" placeholder="lastname"><br><br>
        <input type="submit" value="ok">
    </form>
    <h2>
        <%= (locals.valty) %>
    </h2>
</body>
</html>